@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Work+Sans:wght@500&display=swap');
body {
  background-color: white;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:110px;
}
 .content{
  display:flex;
  background-color:lightgrey;
  /*flex-flow:wrap;*/
}
h1{
  text-align:center;

}
.title{
  color:red;
  font-size:100px;
  font-family: serif;
  margin-top:50px;
  margin-bottom:20px;
}	
.second-title{
    width:530px;
    height: 40px;
    margin:0 auto;
    background-color: #0000ff;
    color:#fff;
    font-size:30px;
    font-family: sans-serif;
    margin-top:-35px;
    font-family:'Work Sans';
  
  }

@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.snip1284 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color:black;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top:130px;
}
.snip1284 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1284 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.2em;
  padding: 0;
}
.snip1284 a {
  padding: 0 0.6em;
  color: grey;
  position: relative;
  text-decoration: none;
}
.snip1284 a:before,
.snip1284 a:after {
  width: 3px;
  height: 0;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #2980b9;
}
.snip1284 a:before {
  top: 0;
  right: 0;
}
.snip1284 a:after {
  bottom: 0;
  left: 0;
}
.snip1284 a:hover,
.snip1284 .current a {
  color: white;
}
.snip1284 a:hover:before,
.snip1284 .current a:before,
.snip1284 a:hover:after,
.snip1284 .current a:after {
  height: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1162 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1162 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1162 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1162 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 0 1px 1px;
}
figure.snip1162 .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip1162 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1162 h2 span {
  font-weight: 800;
}
figure.snip1162 h2:before,
figure.snip1162 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1162 h2:before {
  left: -1000%;
}
figure.snip1162 h2:after {
  right: -1000%;
}
figure.snip1162 p {
  top: 50%;
  font-size: 0.9em;
  font-weight: 500;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
}
figure.snip1162 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1162:hover img,
figure.snip1162.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1162:hover figcaption,
figure.snip1162.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1162:hover p,
figure.snip1162.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
  .footer{
    width: 100%;
    clear: both;
    text-align: center;
    background: white;
    padding: 5px;
    
  }

  .img-wrapper{
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .footer img{
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    margin-right: 10px;

    /* 그림을 둥글게*/
    border-radius: 50%;
    ;
  }

 .footertext{
    font-size: 15px;
    padding: 10px;
  }
